/******HTML STUFF******/
:focus {
    outline:none; 
    border-bottom: solid 2px #999;
} /*changes chrome's focus action*/

body {
    background-color: #fff;
    color: #666;
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 18px;
    text-align: center;
}

.logo {
    width: 100%;
}

.border {
    background: url('../images/logo-background.png');
    height: 20px;
}

.background {
    background-color: #333;
    padding: 10px 0 10px;
    text-align: left;
}

.title {
    font-family: 'Signika', sans-serif;
    color: #fff;
    font-size: 40px;
    display: inline-block;
    margin-left: 15%;
}

.title:hover {
    cursor: pointer;
}

.blurb {
    font-family: 'Nothing You Could Do', sans-serif;
    font-size: 20px;
    display: inline-block;
    color: #fff;
    margin-left: 10px;
}

.info {
    color: #999;
    text-align: right;
    position: absolute;
    right: 15%;
    top: 50px;
}

.info:hover {
    cursor: pointer;
    color: #fff;
}

.query-form {
    margin: 30px;
    text-align: center;
}

input { 
    border: none;
    border-bottom: solid 1px #999; 
    margin: 0 10px 0 10px;
    font-size: 16px;
}

.button {
    margin-left: 5px;
    color: #fff;
    background-color: #999;
    border: solid 1px #999;
    border-radius: 10px;
    position: relative;
    font-family: 'Signika', sans-serif;
}

.button:hover {
    cursor: pointer;
    background-color: #666;
    border: solid 1px #666;
}

.wtf {
    border: none;
    border-radius: 16px;
    background-color: #B85427;
    padding: 2px 8px 2px 8px;
}

.wtf:hover {
    background-color: #FF7436;
    border: none;
    cursor: auto;
}

.about {
    width: 60%;
    margin: auto;
    text-align: left;
    padding-top: 20px;
    line-height: 150%;
}

h3 {
    text-align: center;
    font-family: 'Nothing You Could Do';
}

#sadpanda {
    border: solid 1px #666;
    border-radius: 10px;
    height: 150px;
}

/*TYPEAHEAD STUFF*/
.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    max-height: 200px;
    width: 200px;
    overflow-y: auto;
    text-align: left;
}

.tt-suggestion {
    padding: 2px 20px;
    font-size: 14px;
    line-height: 18px;
}

.tt-cursor {
    color: #fff;
    background-color: #0097cf;
    cursor: pointer;
}

.tt-suggestion p {
    margin: 0;
}


/*RESULTS STUFF*/
.results {
    width: 100%;
    /*display: inline-block;*/
}

.graph {
    display: inline-block;
    min-width: 350px;
}

.sidebar {
    display: inline-block;
    vertical-align: top;
}

.details {
    width: 200px;
    margin: auto;
    border-radius: 5px;
    position: absolute;
    top: 172px;
    min-height: 200px;
    border: solid 2px;
    padding: 5px;
    background-color: #E5E5E5;
}

.hidden {
    display: none;
}

.help {
    font-size: 14px;
    padding: 5px;
}

.page-image {
    margin-top: 5px;
}

.page-title {
    margin-top: 10px;
    padding: 5px;
}

.page-extract {
    font-size: 12px;
    padding: 5px;
}

.page {
    display: inline-block;
    vertical-align: top;
}

.squareimg {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    overflow: hidden;
    border: solid 2px black;
    margin: 10px;
    background-color: #fff;
}

.loading {
    background: url("../images/arrow.gif") no-repeat center;
    position: relative;
    font-size: 30px;
    top: 35px;
    width: 50px;
    height: 30px;
}
