/******GRAPH STUFF******/
svg {
  display: block;
  margin: 0 auto;
}

.link {
  stroke: #666;
}

circle {
  stroke: #fff;
  stroke-width: 2px;
}

marker#arrow {
  fill: #666;
}

/******HTML STUFF******/
:focus {
  outline:none; 
  border-bottom: solid 2px #999;
} /*changes chrome's focus action*/

body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
}

.logo {
  width: 100%;
}

.border {
  background: url('../static/logo-background.png');
  height: 20px;
}

.background {
  background-color: #333;
  padding: 10px 0 10px;
}

.title {
  font-family: "Signika", sans-serif;
  color: #fff;
  font-size: 40px;
}

.query-form {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

input { 
  border: none;
  border-bottom: solid 1px #999; 
  margin-left: 10px;
  font-size: 14px;
} 

.button {
  color: #fff;
  background-color: #999;
  border: solid 1px #999;
  border-radius: 10px;
  position: relative;
}

.button:hover {
  cursor: pointer;
  background-color: #666;
  border: solid 1px #666;
}

/*TYPEAHEAD STUFF*/
.scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.tt-suggestion {
  font-size: 14px;
}

/*FLOATING HEADS STUFF*/
.circular {
  /*border-radius: 45px;*/
}

/*Also for the cropping, I think a quick way to do this is make a square 
wrapper div around your image then give it a border-radius (css) that is 
half of the length of one of the sides. Set the overflow to hidden and you're set.*/
.squareimage {
  /*display: inline;*/
  width: 90px;
  height: 90px;
  border-radius: 45px;
  /*overflow: hidden;*/
}