<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>wikiGraph</title>
    <link href='http://fonts.googleapis.com/css?family=Signika|Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
    <link href="../static/css/index.css" rel="stylesheet" type="text/css">
  </head>

<body>

  <div class="border logo"></div>
  <div class="background logo">
    <div class="title">wikiGraph</div>
    <div class="blurb">Wikipedia from a graph perspective</div>
    <div class="info">About</div>
  </div>

  <div class="query-form scrollable-dropdown-menu">
    <input type="submit" class="button" id="random-query" value="Random">
    <input type="submit" class="button" id="reverse-query" value="Reverse">
    <input class="typeahead" id="start-node" type="text" placeholder="Start page">&#8594;<!-- 
     --><input class="typeahead" id="end-node" type="text" placeholder="End page">
    <input type="submit" class="button" id="submit-query" value="Go">
    <input type="submit" class="button wtf" value="?">
  </div>
  
  <div class="loading-images"></div>
  <div class="path-not-found hidden">
    <img id="sadpanda" src="../static/images/sadpanda.jpg">
    <p>I couldn't find a path between those pages! So sad.</p>
  </div>
  <div class="about">
    
    <h3>What connects two topics on Wikipedia?</h3>
    <p>For example, how many links do you have to click to get from Harry Potter to the Spanish Inquisition?* Combining trivia nerdery with graph theory, wikiGraph allows users to find and explore the paths within Wikipedia.</p>
    <p>The data are sourced from <a href="http://en.wikipedia.org" target="_">Wikipedia</a> and <a href="http://dbpedia.org/About" target="_">DBPedia</a>, without whom this project would not be possible.</p>
    <p>This app was created by <a href="http://erikaarnold.com" target="_">Erika Arnold</a> as a final project for <a href="http://hackbrightacademy.com" 
    target="_">Hackbright Academy</a> in Fall 2014. You can read more about the implementation and details <a href="https://github.com/erabug/wikigraph" target="_">on the Github page</a>.</p>
    <p><i>*It takes a minimum of 3 clicks. Here's one path: Harry Potter &#8594; United Kingdom &#8594; Basques &#8594; Spanish Inquisition</i></p>
  </div>

  <div class="results">
    <div class="graph"></div>
    <div class="sidebar">
      <div class="summary"></div>
      <div class="details hidden">
        <div class="help hidden">
          <p><input class="button" type="submit" value="Go"></p>
          <p>Find a shortest path between two pages. You can select title suggestions from the drop-down menu or simply enter keywords.</p>
          <p><input class="button" type="submit" value="Random"></p>
          <p>Populates the page fields with titles randomly selected from non-list pages that have a high number of outgoing links.</p>
          <p><input class="button" type="submit" value="Reverse"><p>
          <p>Swaps the two selections.</p>
          <p><i>Also...</i></p>
          <p>Double-clicking the large path images will redirect you to that Wikipedia page. Non-path node size represents their number of outgoing links. Grumpy Cat appears if the page has no associated image.</p>
        </div>
        <div class="page-image"></div>
        <div class="page-title"></div>
        <div class="page-extract"></div>
      </div>
    </div>
  </div>

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>

  <script src="../static/js/graph.js"></script>
  <script src="../static/js/summary.js"></script>
  <script src="../static/js/index.js"></script>

</body>
</html>